- title 'What Gem'

%section#banner
  :markdown
    # How it Works
    WhatGem is a gem ranking website. It rates gems on various metrics.
    Gems get points for having tests, examples, documenation, votes, and comments.
    Gems can also be voted up or down. The more times a gem is a dependency
    for other gems, the higher ranking it has. The autor also impacts the rating
    as well. Sign in with your github acount to comment and vote on gems!

%section#top-gems
  = full_ribbon 'Top Gems'

  %table#gems
    %th
      %tr
        %th Gem
        %th Description
        %th Rating
    %tbody
      - @ruby_gems.each do |ruby_gem|
        %tr
          %td.name= link_to ruby_gem, ruby_gem_path(ruby_gem)
          %td.description= truncate ruby_gem.description, :length => 75
          %td.rating= number_to_percentage ruby_gem.rating * 100, :precision => 1
